body {
    font-family: Arial, sans-serif;
  }
  
  .gallery-container {
    text-align: center;
    .photo-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 15px;
    }
    .photo-card {
      padding: 10px;
      border: 1px solid #ccc;
      img {
        width: 100%;
        height: auto;
      }
      p {
        font-weight: bold;
      }
    }
  }
  .upload-container {
    width: 50%;
    margin: auto;
    form {
      display: flex;
      flex-direction: column;
      input, button {
        margin-bottom: 10px;
      }
    }
  }
  